# Maven
target/
*.class
*.jar

# Logs
*.log
logs/
*.tmp
*.swp
*.swo

# IDE
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# Sistema
.DS_Store
Thumbs.db

# Entorno
.env
.env.*
application-local.properties
docker-compose.override.yml